ul {list-style-type: circle;}
ol {list-style-type: lower-roman;}
body {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

q {
	color: #ff0000;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

#intro {
	color: #793486;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

p {
	color: #2d1332;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

h1,h3,h4,caption {
	color: #240f28;
	font-weight: bolder;
	font-size: x-large;
	font-style: italic;
}
h3, {
	font-size: large;
}
h4 {
	font-size: larger;
}

ul > li, ol li {
	color: #240f28;
	font-weight: bolder;
	border: 2px solid red;
}


dl dt, dl dd {
	color: #240f28;
	font-weight: bolder;
}

th {
	color: #842924;
}

td {
	text-align: center;
	color: #240f28;
	border: 2px solid red;
	padding: 1.2em;
}

table {
	width: 96%;
	text-align: center;
	border: 3px solid;
	padding: 2em;
}

nav li {
	position: relative;
	list-style: none;
	display: inline-block;
	padding-left: 1.5em;
}

nav a {
	text-decoration: none;
}

nav {
	width: 98%;
	text-align: center;
}

footer {
	position: fixed;
	width: 100%;
	margin: 0;
	background: red;
	bottom: 0;
	padding: 2px;
	text-align: center;
	color: #fff;
	font-size: larger;
	font-weight: bolder;
}
