ul {list-style-type: circle;}
ol {list-style-type: lower-roman;}
body {
	background-color: transparent;
	padding: 0.2em;
}

q {
	color: #ff0000;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

#intro {
	color: #793486;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

p {
	color: #2d1332;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

h1,h3 {
	color: #240f28;
	font-weight: bolder;
	font-size: x-large;
	font-style: italic;
}
h3 {
	font-size: large;
}