ul {list-style-type: circle;}
ol {list-style-type: lower-roman;}
body {
	background-color: transparent;
	padding: 0.2em;
}

q {
	color: #ff0000;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

#intro {
	color: #793486;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}

p{
	color: #2d1332;
	font-size: large;
	font-weight: bold;
	font-family: cursive;
	font-style: italic;
}